@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Shrikhand&display=swap');
*{box-sizing: border-box;}


h1{
    font-family: shrikhand;
    font-size: x-large;
}
h2,p,li{
    font-family: roboto;
}

.restaurant{ /*Global Photo + texte*/
    display:flex;
    flex-direction: column;
}
.restaurant_image{ /*Photo du restaurant*/
    object-fit: cover;
    width: 100%;
    height: 250px;
    align-content: center;
}
.restaurant_texte{ /*Zone global du texte*/
    background-color: #ededed;
    border-radius: 40px 40px 0px 0px;
    margin-top: -40px;
    padding: 15px;
    width: 100%;
}
.restaurant_nom{ /*Nom du restaurant + coeur*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.restaurant_menu{ /*Ensemble Entrées/Plats/Desserts*/

}
.restaurant_plat_global{ /*Bloc entrées ou plats ou desserts*/
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.restaurant_plat_identifie{ /*Chaque plats*/
    display: flex;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow:0px 5px 5px rgba(0, 0, 0, 0.5);
} 


/*
    img class="restaurant_image" >>> Photo du restaurant>>>
    section class="restaurant" >>> Global Photo + texte>>>
    section class="restaurant_texte" >>> Zone global du texte>>>
    div class="restaurant_nom" >>> Nom du restaurant + coeur>>>
    div class="restaurant_menu" >>> Ensemble Entrées/plats/desserts
    div class="restaurant_plat_global" >>> Bloc Entrée ou Plat ou desserts >>>
    div class="restaurant_plat_identifie" >>> Chaque plats >>>
    <input class="restaurant_bouton_commander" >>> Bouton commander
*/