@charset "UTF-8";
/*COULEURS*/
/*POLICES*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:visited {
  /* Apparence liens visités */
  text-decoration: none;
  color: black;
}

.logo {
  font-family: "shrikhand";
}

title {
  font-family: "shrikhand";
}

h1 {
  font-family: "shrikhand";
  font-size: 25px;
}

h2 {
  font-family: "roboto";
  font-size: 20px;
  font-weight: 400;
}

h3 {
  font-family: "roboto";
  font-size: 17px;
  font-weight: 300;
}

p {
  font-family: "roboto";
}

body {
  font-family: "roboto";
}

/*ANIMATION MENU*/
@keyframes apparition {
  from {
    transform: translateY(75%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
/*ANIMATION LOADER*/
.loader {
  /* Animation Loader*/
  display: grid;
  place-items: center;
  position: fixed;
  font-size: 50px;
  z-index: 1;
  background-color: #F2F2F2;
  height: 100vh;
  inset: 0;
  /*Dimension par rappot à chaque bord*/
  animation: disparition 10ms;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
.loader i {
  animation: spin 2s infinite;
  color: #9356DC;
}

@keyframes disparition {
  /*Disparition du loader*/
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  /*Rotation du loader*/
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*BOUTON DE CHOIX AVEC DEGRADE*/
.bouton {
  background: linear-gradient(#FF79DA 0%, #9356DC 65%);
  margin: 10px;
  padding: 15px 15px;
  text-align: center;
  transition: 0.5s;
  color: white;
  box-shadow: 0px 3px 5px #BFBFBF;
  border-radius: 30px;
  border: none;
  display: block;
}

.bouton:hover {
  filter: brightness(110%);
  text-shadow: 1px 0px 2px #8C8C8C;
  box-shadow: 0px 3px 5px #8C8C8C;
}

/*BOUTON COEUR*/
#resultat__coeur1, #resultat__coeur2, #resultat__coeur3, #resultat__coeur4, #resultat__coeur-restau {
  display: none;
}
#resultat__coeur1:hover + label, #resultat__coeur2:hover + label, #resultat__coeur3:hover + label, #resultat__coeur4:hover + label, #resultat__coeur-restau:hover + label {
  color: transparent;
  background-image: linear-gradient(to right top, #FF79DA, #9356DC);
  background-clip: text;
  animation: heart-apparition 2s;
}
#resultat__coeur1:checked + label > i, #resultat__coeur2:checked + label > i, #resultat__coeur3:checked + label > i, #resultat__coeur4:checked + label > i, #resultat__coeur-restau:checked + label > i {
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  font-weight: bold;
}
#resultat__coeur1:checked:hover + label > i, #resultat__coeur2:checked:hover + label > i, #resultat__coeur3:checked:hover + label > i, #resultat__coeur4:checked:hover + label > i, #resultat__coeur-restau:checked:hover + label > i {
  color: transparent;
  animation: none;
}

@keyframes heart-apparition {
  /*Apparition du gradient Hover*/
  0% {
    color: black;
    font-weight: 100;
  }
  to {
    transform: scale(1);
  }
}
/*BOUTON CHECKBOX CHOIX DES PLATS*/
input:checked + label .checkbox {
  display: flex;
  opacity: 1;
  width: 15%;
  margin: -12px -12px -12px 3px;
  border-radius: 0px 20px 20px 0px;
  background-color: #99E2D0;
  color: #149374;
  justify-content: center;
  align-items: center;
}

input:checked + label .checkbox--rotat {
  align-content: center;
  text-align: center;
}

#option-1, #option-2, #option-3, #option-4, #option-5, #option-6, #option-7, #option-8, #option-9, #option-10 {
  display: none;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  height: 50px;
  position: absolute;
}
.header__arrow {
  display: inline-block;
}
.header__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 25px;
}
.header__accueil {
  box-shadow: 0px 3px 5px #BFBFBF;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 30px 25px 30px 25px;
  color: white;
  background-color: #353535;
}
.footer__icone {
  padding-right: 15px;
}
.footer__ul {
  list-style: none;
  padding: 0px;
  line-height: 2;
}
.footer__li {
  padding-right: 10px;
}
.footer__li > a {
  color: white;
}
.footer__li:hover > a {
  color: #9356DC;
}
.footer__li:hover > i {
  color: #9356DC;
}

.footer__logo .logo {
  color: white;
}
.footer__logo .logo:hover {
  color: white;
}

/*PAGE DE RESULTAT*/
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}
.menu__image {
  display: flex;
  object-fit: cover;
  height: 250px;
}
@media screen and (min-width: 480px) and (max-width: 769px) {
  .menu__global {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 770px) {
  .menu__global {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.menu__plat {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 480px) and (max-width: 769px) {
  .menu__plat {
    width: 45%;
    padding: 5px;
    justify-content: start;
    flex-grow: 1;
  }
}
@media screen and (min-width: 770px) {
  .menu__plat {
    width: 32%;
  }
}
@media screen and (min-width: 480px) and (max-width: 769px) {
  .menu__liste {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 770px) {
  .menu__liste {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.menu__texte {
  background-color: #F2F2F2;
  border-radius: 40px 40px 0px 0px;
  margin-top: -40px;
  padding: 15px;
}
.menu__choix {
  animation: apparition 1s;
  animation-fill-mode: both;
}
.menu__choix:nth-child(1) {
  animation-delay: 100ms;
}
.menu__choix:nth-child(2) {
  animation-delay: 200ms;
}
.menu__choix:nth-child(3) {
  animation-delay: 300ms;
}
.menu__choix:nth-child(4) {
  animation-delay: 400ms;
}
.menu__nom {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  padding-right: 25px;
  justify-content: space-between;
  align-items: center;
}
.menu__nom > .resultat__icone {
  display: flex;
  justify-content: right;
  margin: 0px 0px 0px 0px;
}
.menu__ordre {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.menu__ordre:after {
  content: "";
  display: block;
  background: #99E2D0;
  width: 45px;
  height: 3px;
  margin-top: 5px;
}
.menu__recette {
  display: flex;
  height: 66px;
  border-radius: 20px;
  padding: 12px;
  margin-bottom: 15px;
  font-size: large;
  font-weight: 200;
  background-color: white;
  box-shadow: 0px 3px 5px #BFBFBF;
  transition: 0.5s;
  cursor: pointer;
}
.menu__recette span:first-child {
  display: block;
  flex-direction: column;
  width: 85%;
}
.menu__recette span:nth-child(2) {
  display: block;
  margin-right: 5px;
  width: 15%;
}
.menu__recette span:nth-child(3) {
  display: flex;
  color: white;
  width: 0;
  padding-right: 5px;
  opacity: 0;
}
.menu__recette span:nth-child(4) {
  display: flex;
  color: white;
  width: 0;
  padding-right: 5px;
  opacity: 0;
}
.menu__recette:hover .checkbox {
  display: flex;
  opacity: 1;
  width: 15%;
  margin: -12px -12px -12px 3px;
  border-radius: 0px 20px 20px 0px;
  background-color: #99E2D0;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.menu__recette:hover .checkbox--rotat {
  transform: rotate(0deg);
  align-content: center;
  text-align: center;
  transform: rotate(1turn);
  transition: transform 1s ease-in-out;
}
.menu__recette--ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__prix {
  display: flex;
  flex-direction: column-reverse;
  text-align: right;
}
.menu__commander {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}
.menu__commander--btn {
  width: 200px;
}

/*PAGE INDEX*/
.localisation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}
.localisation__ville {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  background-color: #E7E7E7;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
.localisation__pointeur {
  padding-right: 15px;
}
.localisation__explorer {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0px 50px 15px 50px;
  background-color: #F2F2F2;
  font-weight: 300;
  font-size: large;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 15px 25px 15px 25px;
}
.fonctionnement__global {
  padding: 0px 15px 0px 0px;
  counter-reset: section;
}
@media screen and (min-width: 770px) {
  .fonctionnement__global {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.fonctionnement__etape {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  margin: 0px 10px 15px 10px;
  padding-left: 25px;
  border-radius: 20px;
  align-items: center;
  font-size: medium;
  font-weight: 500;
  background-color: #F2F2F2;
  box-shadow: 0px 3px 5px #BFBFBF;
  transition: 0.5s;
}
.fonctionnement__etape::before {
  counter-increment: section;
  content: counters(section, ".") " ";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  left: 20px;
  color: white;
  background: #9356DC;
}
@media screen and (min-width: 770px) {
  .fonctionnement__etape::before {
    position: relative;
    left: -35px;
  }
}
.fonctionnement__icone {
  color: #676767;
  padding-right: 15px;
}
.fonctionnement__etape:hover {
  background-color: #f5edff;
  box-shadow: 0px 3px 5px rgb(226, 209, 245);
}
.fonctionnement__etape:hover > .fonctionnement__icone {
  color: #9356DC;
}

.resultat {
  display: flex;
  flex-direction: column;
  padding: 15px 25px 15px 25px;
  background-color: #F2F2F2;
}
.resultat__global {
  padding: 0px;
  counter-reset: section;
}
@media screen and (min-width: 480px) and (max-width: 769px) {
  .resultat__global {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 770px) {
  .resultat__global {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.resultat__restaurant {
  display: flex;
  flex-direction: column;
  height: 280px;
  margin: auto 0px 15px 0px;
  border-radius: 20px;
  font-size: medium;
  background-color: white;
  box-shadow: 0px 3px 5px #BFBFBF;
  transition: 0.5s;
}
@media screen and (min-width: 480px) and (max-width: 769px) {
  .resultat__restaurant {
    width: 49%;
  }
}
@media screen and (min-width: 770px) {
  .resultat__restaurant {
    width: 49%;
  }
}
.resultat__lien {
  height: 100%;
}
.resultat__image {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 210px;
  min-height: 210px;
  border-radius: 20px 20px 0px 0px;
}
.resultat__texte {
  display: flex;
  flex-direction: row;
  margin: 0px 20px 0px 20px;
  justify-content: space-between;
  align-items: center;
}
.resultat__icone {
  display: flex;
  justify-content: right;
  margin: 0px 20px 0px 0px;
}
.resultat__nouveau {
  display: flex;
  justify-content: right;
  margin: 0px 20px 0px 0px;
}
.resultat__nouveau-texte {
  position: relative;
  right: -5px;
  bottom: 295px;
  font-size: smaller;
  color: #149374;
  width: 80px;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 8px 5px 8px;
  background-color: #99E2D0;
}
.resultat__restaurant:hover {
  box-shadow: 0px 3px 6px #9356DC;
}

.coeur {
  position: relative;
  top: -40px;
}

/*# sourceMappingURL=style.css.map */
