@charset "UTF-8";
/*COULEURS*/
/*POLICES*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:visited {
  /* Apparence liens visités */
  text-decoration: none;
  color: black;
}

.logo {
  font-family: "shrikhand";
}

title {
  font-family: "shrikhand";
}

h1 {
  font-family: "shrikhand";
  font-size: 25px;
}

h2 {
  font-family: "roboto";
  font-size: 20px;
  font-weight: 400;
}

h3 {
  font-family: "roboto";
  font-size: 17px;
  font-weight: 300;
}

p {
  font-family: "roboto";
}

body {
  font-family: "roboto";
}

/*BOUTON DE CHOIX AVEC DEGRADE*/
.bouton {
  background: linear-gradient(#FF79DA 0%, #9356DC 65%);
  margin: 10px;
  padding: 15px 15px;
  text-align: center;
  transition: 0.5s;
  color: white;
  box-shadow: 0px 3px 5px #BFBFBF;
  border-radius: 30px;
  border: none;
  display: block;
}

.bouton:hover {
  filter: brightness(110%);
  text-shadow: 1px 0px 2px #8C8C8C;
  box-shadow: 0px 3px 5px #8C8C8C;
}

/*BOUTON COEUR*/
#resultat__coeur1 {
  display: none;
}
#resultat__coeur1:hover + label > div {
  color: #9356DC;
}
#resultat__coeur1:checked + label > div {
  color: #9356DC;
  font-weight: bold;
}

#resultat__coeur2 {
  display: none;
}
#resultat__coeur2:hover + label > div {
  color: #9356DC;
}
#resultat__coeur2:checked + label > div {
  color: #9356DC;
  font-weight: bold;
}

#resultat__coeur3 {
  display: none;
}
#resultat__coeur3:hover + label > div {
  color: #9356DC;
}
#resultat__coeur3:checked + label > div {
  color: #9356DC;
  font-weight: bold;
}

#resultat__coeur4 {
  display: none;
}
#resultat__coeur4:hover + label > div {
  color: #9356DC;
}
#resultat__coeur4:checked + label > div {
  color: #9356DC;
  font-weight: bold;
}

#resultat__coeur-restau {
  display: none;
}
#resultat__coeur-restau:hover + label > div {
  color: #9356DC;
}
#resultat__coeur-restau:checked + label > div {
  color: #9356DC;
  font-weight: bold;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  height: 50px;
  position: absolute;
}
.header__arrow {
  display: inline-block;
}
.header__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 25px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 30px 30px 30px 30px;
  color: white;
  background-color: #353535;
}
.footer__icone {
  padding-right: 15px;
}
.footer__ul {
  list-style: none;
  padding: 0px;
  line-height: 2;
}
.footer__li {
  padding-right: 10px;
}
.footer__li > a {
  color: white;
}
.footer__li:hover > a {
  color: #9356DC;
}
.footer__li:hover > i {
  color: #9356DC;
}

.footer__logo .logo {
  color: white;
}
.footer__logo .logo:hover {
  color: white;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}
.menu__image {
  display: flex;
  object-fit: cover;
  height: 250px;
}
.menu__texte {
  background-color: #F2F2F2;
  border-radius: 40px;
  margin-top: -40px;
  padding: 15px;
}
.menu__nom {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  padding-right: 25px;
  justify-content: space-between;
  align-items: center;
}
.menu__ordre:after {
  content: "";
  display: block;
  background: #99E2D0;
  width: 45px;
  height: 3px;
  margin-top: 5px;
}
.menu__recette {
  display: flex;
  height: 60px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 0px 3px 5px #BFBFBF;
  transition: 0.5s;
  cursor: pointer;
}
.menu__recette div:first-child {
  width: 85%;
  text-align: left;
}
.menu__recette div:nth-child(2) {
  display: flex;
  width: 15%;
  justify-content: left;
  align-items: end;
}
.menu__recette div:nth-child(3) {
  display: flex;
  color: white;
  width: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.menu__recette:hover .checkbox {
  display: flex;
  opacity: 1;
  width: 15%;
  margin: -10px;
  border-radius: 0px 20px 20px 0px;
  background-color: #99E2D0;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.menu__recette:hover .checkbox--rotat {
  transform: rotate(0deg);
  align-content: center;
  text-align: center;
  transform: rotate(1turn);
  transition: transform 1s ease-in-out;
}

input:checked + label .checkbox {
  display: flex;
  opacity: 1;
  width: 15%;
  margin: -10px;
  border-radius: 0px 20px 20px 0px;
  background-color: #99E2D0;
  color: #149374;
  justify-content: center;
  align-items: center;
}

input:checked + label .checkbox--rotat {
  align-content: center;
  text-align: center;
}

#option-1, #option-2, #option-3, #option-4, #option-5, #option-6, #option-7, #option-8, #option-9 {
  display: none;
}

.header__accueil {
  box-shadow: 0px 3px 5px #BFBFBF;
}

.localisation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}
.localisation__ville {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  background-color: #E7E7E7;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
.localisation__pointeur {
  scale: 1.1;
  padding-right: 20px;
}
.localisation__explorer {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0px 50px 15px 50px;
  background-color: #F2F2F2;
  font-weight: 300;
  font-size: large;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.fonctionnement__global {
  padding: 0px;
  counter-reset: section;
}
.fonctionnement__etape {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: auto 10px 15px 10px;
  padding-left: 25px;
  border-radius: 20px;
  align-items: center;
  font-size: medium;
  font-weight: 500;
  background-color: #F2F2F2;
  box-shadow: 0px 3px 5px #BFBFBF;
  transition: 0.5s;
}
.fonctionnement__etape::before {
  counter-increment: section;
  content: counters(section, ".") " ";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  left: 15px;
  color: white;
  background: #9356DC;
}
.fonctionnement__icone {
  color: #676767;
  padding-right: 15px;
}
.fonctionnement__etape:hover {
  background-color: #f5edff;
  box-shadow: 0px 3px 5px rgb(226, 209, 245);
}
.fonctionnement__etape:hover > .fonctionnement__icone {
  color: #9356DC;
}

.resultat {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #F2F2F2;
}
.resultat__global {
  padding: 0px;
  counter-reset: section;
}
.resultat__restaurant {
  display: flex;
  flex-direction: column;
  height: 280px;
  margin: auto 0px 15px 0px;
  border-radius: 20px;
  font-size: medium;
  background-color: white;
  box-shadow: 0px 3px 5px #BFBFBF;
  transition: 0.5s;
}
.resultat__image {
  display: flex;
  object-fit: cover;
  height: 210px;
  border-radius: 20px 20px 0px 0px;
}
.resultat__texte {
  display: flex;
  flex-direction: row;
  margin: 0px 20px 0px 20px;
  justify-content: space-between;
  align-items: center;
}
.resultat__nouveau {
  position: absolute;
  right: 30px;
  font-size: smaller;
  color: #149374;
  padding: 5px 8px 5px 8px;
  background-color: #99E2D0;
}
.resultat__restaurant:hover {
  box-shadow: 0px 3px 6px #9356DC;
}

/*# sourceMappingURL=style.css.map */
