/*BOUTON DE CHOIX AVEC DEGRADE*/         
.bouton {
  background: linear-gradient($couleur-secondaire 0%, $couleur-primaire 65%);
  margin: 10px;
  padding: 15px 15px;
  text-align: center;
  transition: 0.5s;
  color: white;     
  @include box-shadow;
  border-radius: 30px;
  border: none;
  display: block;
}
.bouton:hover {
  filter: brightness(110%);
  text-shadow: 1px 0px 2px $couleur-shadow-fonce;
  box-shadow: 0px 3px 5px $couleur-shadow-fonce;
}

/*BOUTON COEUR*/
#resultat__coeur1, #resultat__coeur2, #resultat__coeur3, #resultat__coeur4, #resultat__coeur-restau {
  display: none;
  &:hover+ label > div {
    color: transparent;
    background-image: linear-gradient($couleur-secondaire, $couleur-primaire);
    background-clip: text;
    -webkit-background-clip: text;
    animation: heart-apparition 500ms;
    font-weight: bold;
  }
  &:checked + label > div {color: transparent;
    background-image: linear-gradient($couleur-secondaire, $couleur-primaire);
    background-clip: text;
    -webkit-background-clip: text; 
    font-weight: bold;
  }
  &:checked:hover + label > div {color: transparent;
    animation: none;
  }
}
@keyframes heart-apparition{ /*Apparition du gradient Hover*/
  0%{color: black; font-weight: 100;}
  50%{scale: 0;}
  to{scale: 1;}
}

/*BOUTON CHECKBOX CHOIX DES PLATS*/
input:checked + label .checkbox {
  display: flex;
  opacity: 1;
  width: 15%;
  margin: -12px -12px -12px 3px;
  border-radius: 0px 20px 20px 0px;
  background-color: #99E2D0;
  color: #149374ff;
  justify-content: center;
  align-items: center;
}
input:checked + label .checkbox--rotat { 
  align-content: center;
  text-align: center;
}
#option-1, #option-2, #option-3, #option-4, #option-5, #option-6, #option-7, #option-8, #option-9{ 
  display: none;
}

