@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

.logo{font-family: $font-logo;}
title{font-family: $font-titre;}
h1{font-family: $font-titre;}
h2{font-family: $font-texte; font-size:x-large; font-weight: 500;}
p{font-family: $font-texte;}
body{font-family: $font-texte;}