@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

.logo{font-family: $font-logo;}
title{font-family: $font-titre;}
h1{font-family: $font-titre; font-size: 25px;}
h2{font-family: $font-texte; font-size: 20px; font-weight: 400;}
h3{font-family: $font-texte; font-size: 17px; font-weight: 700;}
p{font-family: $font-texte;}
body{font-family: $font-texte;}


