@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Shrikhand&display=swap');

.logo{font-family: $font-logo;}
title{font-family: $font-titre;}
h1{font-family: $font-titre;}
body{font-family: $font-texte;}