/*PAGE DE RESULTAT*/
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    &__image{
        display: flex;
        object-fit: cover;
        height: 250px;
    }
    &__global{
        @include tablet{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include desktop{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__plat{
        display: flex;
        flex-direction: column;
        @include tablet{
            width: 45%;
            padding: 5px;
            justify-content: start;
            flex-grow: 1;
        }
        @include desktop{
            width: 32%;
        }
    }
    &__liste{
        @include tablet{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        @include desktop{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        }
    }
    &__texte{
        background-color: $couleur-back-claire;
        border-radius: 40px 40px 0px 0px;
        margin-top: -40px;
        padding: 15px;
    }
    &__choix{
            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                        animation-delay: 100ms * $i;
                }
            }
            animation: apparition 1s;
            animation-fill-mode: both;
    }
    &__nom{
        display: flex;
        flex-direction: row;
        font-size: 25px;
        padding-right: 25px;
        justify-content: space-between;
        align-items: center;
        & > .resultat__icone{
            display: flex;
            justify-content: right;
            margin: 0px 0px 0px 0px;
        }
    }
    &__ordre{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        &:after {
        content: "";
        display: block;
        background: $couleur-tertiaire;
        width: 45px;
        height: 3px;
        margin-top: 5px;
        }
    }
    &__recette{         
        display: flex;
        height: 66px;
        border-radius: 20px;
        padding: 12px;
        margin-bottom: 15px;
        font-size: large;
        font-weight: 200;
        background-color: white;
        @include box-shadow;
        transition: 0.5s;
        cursor: pointer;
        & span:first-child{
            display: block;
            flex-direction: column;
            width: 85%;
        }
        & span:nth-child(2){
            display: block;
            margin-right: 5px;
            width: 15%;
        }
        & span:nth-child(3){ 
            display: flex;
            color: white;
            width: 0;
            padding-right: 5px;
            opacity: 0;
        }
        & span:nth-child(4){ 
            display: flex;
            color: white;
            width: 0;
            padding-right: 5px;
            opacity: 0;
        }
        &:hover .checkbox{ 
            display: flex;
            opacity: 1;
            width: 15%;
            margin: -12px -12px -12px 3px;
            border-radius: 0px 20px 20px 0px;
            background-color: #99E2D0;         
            justify-content: center;
            align-items: center;
            transition: 0.5s ;
        }
        &:hover .checkbox--rotat { 
            transform: rotate(0deg);
            align-content: center;
            text-align: center;
            transform: rotate(1turn);
            transition: transform 1s ease-in-out;
        }
        &--ellipsis{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__prix{
        display: flex;
        flex-direction: column-reverse;
        text-align: right;
    }
    &__commander{
        display: flex;
        @include align-center;
        margin: 20px;
        &--btn{
            width: 200px;
        }
    }
}




