/*Animation menu*/
@keyframes apparition{
    from{
        transform: translateY(75%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}
/* Animation Loader*/
.loader{
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 1;
    background-color: $couleur-back-claire;
    height: 100vh;
    inset: 0; /*Dimension par rappot à chaque bord*/
    animation: disparition 10ms;
    animation-delay: 4s; 
    animation-fill-mode: forwards;
    i {
        scale: 3;
        animation: spin 2s infinite ;
        color: $couleur-primaire;
    }
}
@keyframes disparition{
    from{transform: scale(1);}
    to{transform: scale(0);}
}
@keyframes spin{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}





