@mixin box-shadow{
    box-shadow: 0px 3px 5px $couleur-shadow-claire;
  }
@mixin align-center{
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
@mixin mobile{
    @media screen and (min-width: map-get($breakpoints, mobilemin)) and (max-width: map-get($breakpoints, mobilemax)){
        @content;
    }
}
@mixin tablet{
    @media screen and (min-width: map-get($breakpoints, tabletmin)) and (max-width: map-get($breakpoints, tabletmax)){
        @content;
    }
}
@mixin desktop{
    @media screen and (min-width: map-get($breakpoints, desktopmin)){
        @content;
    }      
}

