
/*COULEURS*/
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-back: #ffffff;
$couleur-back-claire: #F2F2F2;
$couleur-back-fonce: #E7E7E7;
$couleur-back-footer: #353535;
$couleur-shadow-claire: #BFBFBF;
$couleur-shadow-fonce: #8C8C8C;
$bouton-fonctionnement: #F5EDFFff;
$bouton-shadow-fonctionnement: rgb(226, 209, 245);
$nouveau: #149374ff;
$couleur-icone: #676767;


/*POLICES*/
$font-logo: "shrikhand";
$font-titre: "shrikhand";
$font-texte: "roboto";


